* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: antiquewhite;
  padding: 80px 80 px;
  height: 200vh;
}
header {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 20px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid rosybrown;
  margin-bottom: 20px;
}
header nav {
  display: flex;
  gap: 60px;
}

.titre {
  color: rosybrown;
  text-align: center;
}

a:hover {
  color: rgb(184, 106, 106);
}

a {
  color: rosybrown;
  text-decoration: none;
}
.firstpara {
  color: rosybrown;
  margin-top: 30px;
  text-align: center;
}
div {
  float: left;
  width: 100%;
  margin: 100px 0;
  background-color: white;
  color: rosybrown;
}

.liens {
  float: left;
  width: 25%;
  /* display: flex; */
  background-color: blue;
  padding: 10px;
  margin-top: 250px;

  /* gap: 50px; */
}
